body{margin: 0; padding: 40px;}
.box{float: left; padding: 20px; margin: 10px; color: #fff; border: 5px solid #000;}
.box1{background: #333;}
.box2{background: #666;}
.box3{background: #999;}
.hovering{border-color: red;}